/* .current-temp {
  position: relative;
  text-align: center;
  left: 500px;
  top: -150px;
  font-family: urbanist;
}

.city-search {
  position: relative;
  top: -130px;
  left: 0px;
}

.search-icon {
  position: relative;
  margin: 0 auto;
  padding: 0px;
  top: -155px;
  left: 170px;
}

.container-lg {
  border: 2px solid;
  color: black;
  padding: 200px;
  margin-top: 100px;
}

.weather-icon {
  font-size: 40px;
}

.card {
  position: relative;
  height: 200px;
  width: 200px;
  padding: 20px;
  top: 250px;
  bottom: 20px;
  right: 500px;
  margin: 15px;
} */
