* {
  font-family: monospace;
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}
/* C O L O R  P A L E T T E */
.first-color {
  background: #f0f5f9;
}

.second-color {
  background: #c9d6df;
}

.third-color {
  background: #52616b;
}

.fourth-color {
  background: #1e2022;
}

/* G R E E T I N G */
header {
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  padding: 20px 35px;
  background-color: #1e2022;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  margin: 0;
}

/* A P P  C O N T A I N E R */
.container {
  display: flexbox;
}
